@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    The goal of this website is to be able to identify country flags quickly. By selecting or deselecting characteristics about the flag,
    you can whittle the list down and identify the flag you are looking for. The characteristics include colors, shapes, and a
    few patterns which I've included in the shapes category.
</p>
<p>This application was created for a final project for CS 651 at Boston University. The code is open source and available on GitHub.</p>
<p>
    <a href="https://github.com/tonyleif/FlagFinder" target="_blank">
        <!-- I switched back to the original icon because my new one didn't have a transparent background -->
        <img src="~/Content/Images/Icons/github.png" alt="GitHub icon" class="social-icon">
        View Code
    </a>
</p>

<h3>How to use this site</h3>
<p>
    The filter buttons allow for three states, selected, deselected, or neither.
    If you are not sure if a flag does or does not have a characteristic, leave it as neither.
</p>

<h3>Technologies used</h3>
<ul>
    <li>Microsoft .NET</li>
    <li>MVC</li>
    <li>C#</li>
    <li>Razor</li>
    <li>jQuery</li>
    <li>Twitter Bootstrap</li>
    <li>Google Maps API</li>
    <li>Google Geocoder API</li>
</ul>


